<p>Write an username to get all his public GISTS !!</p>


<form [formGroup]="searchForm" (ngSubmit)="getListOfGists()">
    <label>Search here ...</label>
    <input id="text" type="text" formControlName="text">
    <button type="submit">Gooo..</button>
</form>

<div *ngIf="gistList" class="content-box">
    <p>Showing all results for {{ this.searchForm.get('text')?.value }}</p>
    <div *ngFor="let gItem of gistList" class="item">
        <a class="item-redirect" (click)="redirectToGistDetail(gItem)">
            <div> {{ gItem.filename }} </div>
            <div> {{ gItem.description }} </div>
            <div> {{ gItem.languagetag }} </div>
            <div *ngIf="gItem.forksList" class="item forks">
                <div  *ngFor="let forkUser of gItem.forksList">
                    <div> {{ forkUser.name }}</div>
                    <img alt="avatar image" src={{forkUser.avatar}} />
                </div>
            </div>
        </a>
    </div>
</div>

<div *ngIf="userSearched && (gistList === undefined || gistList === null)" class="content-box-not-found">
    It seems there are no gists for {{ this.searchForm.get('text')?.value }} 
    or you excedded maximmum requests for now!
</div>

