<p>Write an username to get all his public GISTS !!</p>


<label>Search here ...</label>
<input  class="search-user" 
        type="search" 
        [(ngModel)]="searchText">
<button (click)="getListOfGists()">Search</button>

<div *ngIf="gistList" class="content-box">
    <div *ngFor="let gItem of gistList" class="item">
        <a class="item-redirect" (click)="redirectToGistDetail(gItem.rawurl)">
            <div> {{ gItem.filename }} </div>
            <div> {{ gItem.description }} </div>
            <div> {{ gItem.languagetag }} </div>
        </a>
    </div>
</div>




