<h1 class="mainText">Get a list of all the public GISTS !!</h1>

<form id="searchForm" [formGroup]="searchForm" (ngSubmit)="getListOfGists()">
    <label>Search here ...</label>
    <input placeholder="Type a github username .." id="text" type="text" formControlName="text">
    <button type="submit">SEND</button>
</form>

<div *ngIf="!reqErrors; then noErrors else errors"></div>

<ng-template #noErrors>
    <div *ngIf="gistList" class="content-box">
        <p class="result-message">Showing all results for {{ gistList[0].owner }}</p>
        <div class="gist-container">
            <div *ngFor="let gItem of gistList" class="gist-item">
                <div class="gist-detail">
                    <a class="item-redirect" (click)="redirectToGistDetail(gItem)">
                        <div class="item-title"> {{ gItem.filename }} </div>
                        <div class="item-description"> {{ gItem.description }} </div>
                        <div class="item-tag"> 
                            Tag: <span [ngStyle]="{'background-color': getBackgroundColor(gItem.languagetag),
                            'color': getFontColor(getBackgroundColor(gItem.languagetag))}">
                                {{ gItem.languagetag }} 
                                </span>
                        </div>
                        <div *ngIf="gItem.forksList">
                            Forked by:
                            <div class="forks">
                                <div class="fork-item" *ngFor="let forkUser of gItem.forksList">
                                    <img [attr.title]="forkUser.name" class="fork-avatar" alt="avatar image" src={{forkUser.avatar}} />
                                    <div class="fork-username"> {{ forkUser.name }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #errors>
    <div class="content-box not-found">
        It seems there are no gists for this user or you exceeded maximum requests for now!
    </div>
</ng-template>


