.back-bttn {
    margin: 20px 0;
    display: inline;
}

.content-main {
    width: 95rem;
}
@media (min-width: 1149px) and (max-width: 1540px) {
    .content-main {
        width: 70rem;
    }
}
@media (min-width: 820px) and (max-width: 1148px) {
   .content-main {
        width: 50rem;
    }
}
@media (min-width: 500px) and (max-width: 819px) {
    .content-main {
        width: 30rem;
    }
}
@media (min-width: 0px) and (max-width: 499px) {
    .content-main {
        width: 24rem;
    }
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    background-color: #FAFBFC;
    vertical-align: middle;
    border: 1px solid whitesmoke;
}

.main-info div {
    flex-grow: 1;
	width: 10%;
    text-align: center;
    font-size: 14px;
    color: #0366D6;
}

.main-info div > span {
    font-weight: bold;
}

#codebox {
    width: 100%;
    height: 750px;
    overflow-y: scroll;
    background-color: #fefefe;
    border: 1px solid whitesmoke;
}

.box-item:nth-child(even) {
    background-color: #FbFbFc;
}

#codebox .line-number {
    margin: 0 65px 0 5px;
    color: gainsboro;
}